<section class="section bg-light">
    <header class="container">
        <nav class="nav-tabs">
            <a href="/sobre" class="nav-tab">Sobre</a>
            <a href="/denuncias" class="nav-tab">Denúncia</a>
            <a href="/noticias" class="nav-tab">Notícias</a>
            <!--<a href="/ajuda" class="nav-tab">Ajuda</a>  -->
        </nav>
    </header>
</section>